name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  - develop
  - main
  - production

variables:
  acrName: "guruacr.azurecr.io"
  imageName: "content-agent"
  dockerFilePath: "Dockerfile"
  buildPlatform: "linux/amd64,linux/arm64"
  trivyCache: "$(Agent.HomeDirectory)/.cache/trivy"

pool:
  vmImage: "ubuntu-latest"

steps:
# 0. (Optional) Check Docker & buildx exist
- script: |
    docker version
    docker buildx version
  displayName: "Check Docker & Buildx"

# 1. Login to ACR (service connection: guru-acr)
- task: Docker@2
  displayName: "Login to ACR"
  inputs:
    command: "login"
    containerRegistry: "guru-acr"


- task: Docker@2
  displayName: "Build content-agent image (local for scan)"
  inputs:
    containerRegistry: "guru-acr"          # service connection
    repository: "$(imageName)"             # content-agent
    command: "build"
    Dockerfile: "Dockerfile"
    buildContext: "."
    tags: |
      $(Build.BuildId)

# 2. Create Buildx Builder
- script: |
    set -e
    echo "Creating buildx builder..."
    docker buildx create --name multiarch --driver docker-container --use
    docker buildx inspect --bootstrap
  displayName: "Create multi-arch builder"

# 3. Multi-arch Docker Build & Push
- script: |
    set -e
    echo "Building and pushing multi-arch image..."
    docker buildx build \
      --platform $(buildPlatform) \
      --file $(dockerFilePath) \
      --tag $(acrName)/$(imageName):$(Build.BuildId) \
      --tag $(acrName)/$(imageName):latest \
      --push \
      .
  displayName: "Build & Push Multi-Arch Docker Image"

- script: |
    docker images
    docker pull "$(acrName)/$(imageName):$(Build.BuildId)"
    docker inspect "$(acrName)/$(imageName):$(Build.BuildId)"
  displayName: "Debug: docker images and inspect"

# 4. Aqua Scanner (Trivy Local Mode)
- task: Docker@2
  displayName: 'Docker login (service connection) for Aqua'
  inputs:
    containerRegistry: 'login aqua'
    command: 'login'

- task: aquasecScanner@4
  displayName: "Aqua Scan multi-arch image"
  inputs:
    image: "$(acrName)/$(imageName):$(Build.BuildId)"
    scanType: 'local'
    containerRuntime: 'docker'
    scanner: 'registry.aquasec.com/scanner:2022.4.818'
    connection: 'guru-host'
    registry: 'guru-acr'
    register: true
    arguments: "--cache-dir $(trivyCache)"
    

# 5. Save image info for release pipeline
- script: |
    echo "{\"image\":\"$(acrName)/$(imageName):$(Build.BuildId)\"}" > $(Pipeline.Workspace)/image-tags.json
  displayName: "Create image-tags JSON"

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: "$(Pipeline.Workspace)/image-tags.json"
    artifactName: "image-tags"
